.screen {
    height: 100px;
    font-size: 50px;
    background-color: #000d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    border-radius: 10px;
  }
  